body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4fdcfc;
    background-image: url();
    background-size: cover;

  }
  
  .container {
    background-color: rgb(121, 181, 188);
    padding: 100px 260px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 8px rgb(11, 11, 27);
    background-image: url(todobg.jpg);
    background-color:  rgba(0,0,0,0.5);
    background-size: cover;
    position: relative;
    z-index: 1;
    border: solid rgb(23, 23, 23) 2px;

  }
  
  .container h1{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgb(231, 143, 143);
    padding-bottom: 30px;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: aqua;
    background-color: rgb(95, 95, 159);
    border-radius: 5px;
  }
  button:hover{
    background-color: rgb(239, 109, 206);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul button{
    padding-left: 10px;
  }
  
  li {padding-right: 10px;
    margin: 10px 0px;
    background-color: burlywood;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  